.slide {
  @media (max-width: 768px) {
    // width: fit-content !important;
    // height: auto;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(#fff, 0.1);

  cursor: pointer;

  & > * {
    display: flex;
  }

  & img {
    // @media (max-width:1024px) {
      width: 100%;
      height: auto;
    // }
  }
}
