.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title1 {
  color: #dbb762;
  font-family: "Playfair Display", Sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.title2 {
  color: #fff;
  font-family: "Great Vibes", Sans-serif;
  font-size: 5rem;
  font-weight: 300;
}

.sectionTop {
  padding: 5.5rem 1rem;
}

.laurelWreathImg {
  margin-bottom: 2rem;

  & img {
    max-width: 50%;
    height: auto;
  }
}

.theWeddingText {
  font-family: "Crete Round", sans-serif;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;

  padding: 0 1.5rem;
  margin: 0;

  margin-bottom: 2rem;
}

.weddingDate {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: -0.28px;
  line-height: 2.8rem;

  padding: 0;
  margin: 0;

  margin-bottom: 2rem;
}

.bridesNameLogoImg {
  margin: 3.5rem 0;
  opacity: 0;

  & img {
    max-width: 39rem;
    width: 96%;
    height: auto;
  }
}

.saveTheDateButton {
  transition: all 0.3s ease;

  font-family: "Rubik", Sans-serif;
  font-size: 2rem;
  font-weight: 400;
  background: rgba(#e95a6f, 0);
  border: 2px solid #fff;
  border-radius: 0.7rem;
  padding: 1.5rem 3rem;
  outline: none;
  cursor: pointer;

  color: inherit;

  &:hover,
  &:focus,
  &:active {
    background: rgba(#e95a6f, 1);
    border-color: #ae3244;
  }
}

.sectionBridesIntro {
  padding: 1rem;
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    padding: 2.5rem 1rem;
  }
}

.brides {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5rem 2rem;
  margin-bottom: 5rem;
  max-width: 85rem;
  width: 100%;

  & > *:not(:last-child) {
    margin-bottom: 4.5rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 2.75rem;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
  }

  @media (min-width: 1024px) {
    max-width: 98rem;
    margin: 6rem 2rem;
    margin-bottom: 6.5rem;
  }
}

.bride {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bridesIntroText {
  padding: 0 1.5rem;

  & p {
    margin: 0;
    padding: 0;
    margin-bottom: 1.2rem;

    font-size: 1.7rem;
    font-weight: 400;

    @media (min-width: 425px) {
      font-size: 2rem;
    }

    @media (min-width: 768px) {
      margin-bottom: 2px;
    }
  }
}

.bridePicture {
  margin-bottom: 2rem;

  & img {
    width: 30rem;
    min-width: 85%;
    height: auto;

    @media (min-width: 425px) {
      width: 35rem;
    }

    @media (min-width: 768px) {
      width: 26rem;
    }

    @media (min-width: 1024px) {
      width: 30rem;
    }
  }
}

.brideName {
  @extend .title1;
  margin-bottom: 1.5rem;
}

.childOf {
  font-family: "Source Serif Pro", Sans-serif;
  font-size: 1.6rem;
  line-height: 1.3em;

  @media (min-width: 375px) {
    font-size: 1.8rem;
  }

  @media (min-width: 768px) {
    font-size: 1.6rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.8rem;
  }
}

.squigglyDevider {
  margin: 1.8rem auto;

  width: 100%;
  max-width: 50%;
  height: 100%;
  min-height: 2rem;

  display: flex;

  background-color: #e95a6f;
  mask-size: 2rem;
  mask-repeat: repeat-x;
  mask-image: url("/assets/squiggly.svg");
}

.sectionEventSchedule {
  padding: 3.8rem 1rem;
  text-align: center;

  & > *:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.eventContainer {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 1.8rem;
  }

  &:last-child .eventTimeContainer {
    margin-bottom: 0;
  }
}

.eventRibbonImg {
  margin-bottom: 1.8rem;

  & img {
    max-width: 40.5rem;
    width: 100%;
    height: auto;

    @media (min-width: 768px) {
      max-width: 30rem;
    }
  }
}

.eventPlace {
  font-family: "Roboto Condensed", Sans-serif;
  font-size: 2rem;
  line-height: 1.5em;
}

.eventTimeContainer {
  display: flex;
  justify-content: center;
  margin: 2.4rem 1.2rem;
  margin-bottom: 1rem;
}

.eventTimeCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1rem;
  margin: 1rem 0;

  border-style: solid;
  border-width: 2px 0px 2px 0px;
  border-color: #afafaf;

  background: #282c35;

  font-family: "Open Sans", Sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;

  &:not(:last-of-type) {
    margin-right: 2.2rem;
  }
}

.pinkCircleIcon {
  background: #e95a6f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  padding: 1.5rem;

  @media (min-width: 425px) {
    padding: 2rem;
  }

  @media (min-width: 768px) {
    padding: 2.5rem;
  }

  & img {
    width: 3rem;
    height: 3rem;

    @media (min-width: 425px) {
      width: 4rem;
      height: 4rem;
    }

    @media (min-width: 768px) {
      width: 5rem;
      height: 5rem;
    }
  }
}

.sectionMap {
  padding: 0 2rem;
  margin: 3.5rem 0;
}

.maps {
  position: relative;
  z-index: 10;
  display: flex;
  background: #e95a6f;
  border: 1rem solid #e95a6f;
  box-shadow: 0px 30px 17px -19px rgb(0 0 0 / 21%);
  margin: 0 auto;
  max-width: 72rem;
  width: 100%;

  & iframe {
    width: 100%;
  }
}

.sectionCountDown {
  background: #282c35;
  padding: 2.8rem 1rem;
  padding-top: calc(2.8rem + 15rem);
  margin-top: -15rem;

  @media (min-width: 425px) {
    padding-bottom: 6rem;
  }

  display: flex;
}

.countDownTitle {
  margin-bottom: 0.5rem;

  @media (min-width: 425px) {
    margin-bottom: 2rem;
  }
}

.countDownContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 39rem;

  margin: 1rem 7.5rem 2rem 7.5rem;
}

.countDownItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #e95a6f;
  padding: 1rem 0.5rem;
  border-radius: 1.5rem;

  &:not(:last-child) {
    margin-right: 0.6rem;
  }
}

.countDownValue {
  font-family: "Playfair Display", Sans-serif;
  line-height: 1.3em;
  font-size: 3.5rem;
}

.sectionOutro {
  padding: 5rem 1.6rem;
}

.outroPray {
  font-family: "Roboto Condensed", Sans-serif;
  font-size: 2rem;
  line-height: 1.5em;
  max-width: 66.5rem;
  margin-bottom: 2.8rem;
}

.footer {
  background: #2e2f3a;
  padding: 2.4rem 0;
  text-align: center;

  color: #c6c6c6;
  font-family: "Playfair Display", Sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2em;
}
